.qn-pdf-page-check-tags {
  padding: 0 5px;

  & .qn-pdf-page-check-tags__row {
    display: flex;
    align-items: center;

    /* &:is(:not(:last-child)) {
      border-bottom: 1px dashed var(--color-grey-1);
    } */

    &:not(:last-child) {
      border-bottom: 1px dashed var(--color-grey-1);
    }
  }

  & .qn-pdf-page-check-tags__row-label {
    min-width: 35px;
    font-size: 10px;
    font-weight: 600;
    padding-right: 10px;
    word-break: break-all;
  }

  & .qn-pdf-page-check-tags__row-options {
    display: flex;
    flex: 1 0;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 8px;
  }

  & .qn-pdf-page-check-tags__row-option {
    display: flex;
    align-items: center;

    /* width: 33.333%; */
    font-size: 9px;
    font-weight: 500;
    margin-right: 8px;
    margin-bottom: 8px;

    @nest &.qn-pdf-page-check-tags__row-option--checked .qn-pdf-page-check-tags__checkbox::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-image: url(@/views/pdf/assets/images/checked.svg);
      background-size: 100%;
    }
  }

  & .qn-pdf-page-check-tags__checkbox {
    position: relative;
    display: inline-block;
    width: 10px;
    min-width: 10px;
    height: 10px;
    border: 1px solid var(--color-blue);
  }

  & .qn-pdf-page-check-tags__name {
    margin-left: 3px;
    word-break: break-all;
  }
}
