@import 'variables.css';

/* rem适配 */

/* html {
  font-size: calc(100vw / 10);
  height: 100%;
} */

@media screen and (max-width: 750px) {
  html {
    font-size: calc(100vw / 10);
  }
}

@media screen and (min-width: 750px) {
  html {
    /* 大写p不会被px2rem转译，但是浏览器可识别 */
    /* stylelint-disable-next-line */
    font-size: 37.5Px;
  }
}

body {
  font-family:
    "system",
    "Helvetica Neue",
    Helvetica,
    Roboto,
    Arial,
    "PingFang SC",
    "Hiragino Sans GB",
    "Heiti SC",
    "Source Han Sans CN",
    "Microsoft YaHei",
    "miui",
    "WenQuanYi Micro Hei",
    sans-serif;
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-main-color);
  font-size: var(--text-size-default);
  line-height: 1.3;
  height: 100%;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

/* start */
#app {
  position: relative;
  width: var(--viewport-width);
  height: 100%;
  margin: 0 auto;
}

.g-display-flex {
  display: flex;
}

.g-flex-1 {
  flex: 1 0;
}

.g-flex-2 {
  flex: 2 0;
}
