.swipe1 {
  position: relative;
  text-align: center;

  & .swipe1Diagram {
    position: relative;

    & .bodyImg {
      width: 160px;
    }

    & .bodyValue {
      position: absolute;
      left: 0;
      width: 100%;
      text-align: center;
    }

    & .bodyValue1 {
      top: 10px;
    }

    & .bodyValue2 {
      top: 66px;
    }

    & .bodyValue3 {
      top: 120px;
    }

    & .bodyValue4 {
      top: 216px;
    }

    & .bodyName {
      position: absolute;
    }

    & .bodyName1 {
      top: 12px;
      left: 248px;
    }

    & .bodyName2 {
      top: 68px;
      right: 248px;
    }

    & .bodyName3 {
      top: 120px;
      left: 248px;
    }

    & .bodyName4 {
      top: 216px;
      right: 248px;
    }
  }

  & .swipe1Table {
    margin-top: 12px;
  }
}

.des {
  font-size: var(--text-size-small);
  color: var(--color-grey-4);
  margin-top: 12px;
}
